/* SPDX-License-Identifier: AGPL-3.0-or-later */

.channelItemCore {
	position: relative;
	margin-left: 0.5rem;
	margin-right: 0;
	display: flex;
	min-width: 0;
	flex: 1;
	cursor: pointer;
	align-items: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-radius: 0.375rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	gap: 0.375rem;
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
}

.channelItemCoreSelected {
	background-color: var(--background-modifier-selected);
	color: var(--surface-interactive-selected-color);
}

.channelItemCoreUnselected {
	color: var(--text-tertiary-muted);
	cursor: pointer;
}

:global(:where(html.window-focused, html.unfocused-fully-interactive):not(.window-focus-activation-guard))
	.channelItemCoreUnselected:hover {
	background-color: var(--background-modifier-hover);
}

.channelItemCoreHovered {
	background-color: var(--background-modifier-hover);
}

.typingTooltip {
	max-width: 32rem;
	white-space: break-spaces;
	word-break: break-word;
	color: var(--text-chat);
}

.channelTypingIndicator {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.125rem;
	color: var(--text-primary);
	flex-shrink: 0;
	min-width: 1.25rem;
	height: 1.25rem;
	line-height: 1.25rem;
}

.typingIndicatorIcon {
	width: 1.25rem;
	height: 1.25rem;
	flex-shrink: 0;
}

:global(.theme-light) .channelItemSelected .typingIndicatorIcon {
	--typing-indicator-color: var(--surface-interactive-selected-color);
	color: var(--surface-interactive-selected-color);
}

.typingAvatars {
	height: 1.25rem;
	--avatar-stack-padding-block-start: 0px;
	--avatar-stack-padding-block-end: 0px;
	--avatar-stack-extra-height: 0px;
	--avatar-stack-outline-color: var(--background-secondary);
}

.channelItemIcon {
	height: 1.25rem;
	width: 1.25rem;
}

.channelItemIconSelected {
	color: var(--surface-interactive-selected-color);
}

.categoryContainer {
	display: flex;
	align-items: center;
	flex: 1;
	min-width: 0;
}

.categoryName {
	flex: 1;
	overflow: 'hidden';
	text-overflow: ellipsis;
	white-space: nowrap;
}

.iconContainer {
	margin-right: 0.5rem;
	display: flex;
	align-items: center;
}

.channelName {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.actionsContainer {
	display: flex;
	align-items: center;
	margin-left: 0.5rem;
}

.channelItemIconUnselected {
	color: var(--text-tertiary-muted);
}

.channelItemIconHighlight {
	color: var(--text-secondary);
}

.channelItemLabel {
	flex: 1 1 auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.25rem;
	max-height: 1.25rem;
	min-width: 0;
}

.channelItemActions {
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
}

.container {
	position: relative;
	width: 100%;
}

.channelReorderTarget {
	box-sizing: border-box;
	padding-top: 0.0625rem;
}

.channelCategoryReorderTarget {
	padding-top: 0.25rem;
}

.unreadIndicator {
	position: absolute;
	top: 50%;
	left: -0.25rem;
	transform: translateY(-50%);
	height: 0.5rem;
	width: 0.5rem;
	border-radius: 0 624.9375rem 624.9375rem 0;
	background-color: var(--text-primary);
}

.unreadIndicatorMuted {
	opacity: 0.4;
}

.channelItem {
	position: relative;
	margin-left: 0.5rem;
	margin-right: 0;
	display: flex;
	min-width: 0;
	flex: 1;
	cursor: pointer;
	align-items: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-radius: 0.375rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.channelItemCategory {
	margin-top: 0;
	margin-bottom: 0;
	gap: 0.25rem;
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
	color: var(--text-tertiary-muted);
	cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
	:global(:where(html.window-focused, html.unfocused-fully-interactive):not(.window-focus-activation-guard))
		.channelItemCategory:hover {
		color: var(--text-primary);
	}
}

.channelItemRegular {
	gap: 0.375rem;
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
	color: var(--text-tertiary-muted);
}

.channelItemHighlight {
	color: var(--text-secondary);
}

.channelItemMuted {
	color: var(--text-tertiary-muted);
}

.channelItemSelected {
	background-color: var(--background-modifier-selected);
	color: var(--text-primary);
}

.channelItemSelectedWithUnread {
	color: var(--text-primary);
}

@media (hover: hover) and (pointer: fine) {
	:global(:where(html.window-focused, html.unfocused-fully-interactive):not(.window-focus-activation-guard))
		.channelItemHoverable:hover {
		background-color: var(--background-modifier-hover);
		color: var(--text-chat);
	}
}

.channelItemPressed {
	background-color: var(--background-modifier-hover);
	color: var(--text-chat);
}

.channelItemOver {
	background-color: var(--background-modifier-hover);
	color: var(--text-chat);
}

.channelItemContextMenu {
	background-color: var(--background-modifier-hover) !important;
	color: var(--text-chat) !important;
}

.channelItemCategoryContextMenu {
	color: var(--text-primary) !important;
}

.channelItemDragging {
	opacity: 0.3;
}

.channelItemDimmed {
	opacity: 0.6;
}

.channelItemMutedState {
	color: var(--text-tertiary-muted);
	opacity: 0.5;
}

.channelItemDisabled {
	opacity: 0.6;
	cursor: not-allowed;
}

.hoverAffordance {
	display: none;
}

.channelItemCategoryContextMenu .hoverAffordance,
.channelItemCategory.keyboardFocus .hoverAffordance,
.channelItemContextMenu .hoverAffordance,
.channelItem.keyboardFocus .hoverAffordance,
.channelItemSelected .hoverAffordance {
	display: flex;
}

@media (hover: hover) and (pointer: fine) {
	:global(:where(html.window-focused, html.unfocused-fully-interactive):not(.window-focus-activation-guard))
		.channelItemCategory:hover
		.hoverAffordance,
	:global(:where(html.window-focused, html.unfocused-fully-interactive):not(.window-focus-activation-guard))
		.channelItemHoverable:hover
		.hoverAffordance {
		display: flex;
	}
}

.channelItemAutocompleteHighlight {
	box-shadow: 0 0 0 0.125rem var(--brand-primary);
}

.categoryContent {
	display: flex;
	min-width: 0;
	flex: 1;
	align-items: center;
	gap: 0.25rem;
}

.categoryName {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 1.25rem;
	max-height: 1.25rem;
	min-width: 0;
}

.categoryIcon {
	height: 0.75rem;
	width: 0.75rem;
	flex-shrink: 0;
	color: var(--text-tertiary-muted);
}

.channelName {
	flex: 1 1 auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.25rem;
	max-height: 1.25rem;
	min-width: 0;
}

.createChannelButton {
	display: flex;
	height: 1rem;
	width: 1rem;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border-radius: 624.9375rem;
	border: none;
	background-color: transparent;
	padding: 0;
	color: var(--text-tertiary-muted);
}

:global(:where(html.window-focused, html.unfocused-fully-interactive):not(.window-focus-activation-guard))
	.createChannelButton:hover {
	color: var(--text-primary);
}

.createChannelIcon {
	height: 1rem;
	width: 1rem;
}

.voiceUserCount {
	display: flex;
	flex-shrink: 0;
	margin-right: 0.5rem;
}

.channelItemVoice.contextMenuOpen .voiceUserCount {
	display: none;
}

:global(:where(html.window-focused, html.unfocused-fully-interactive):not(.window-focus-activation-guard))
	.channelItemVoice:hover
	.voiceUserCount {
	display: none;
}

.channelItemVoice.channelItemHoverAffordancesActive.contextMenuOpen .voiceUserCount {
	display: flex;
}

:global(:where(html.window-focused, html.unfocused-fully-interactive):not(.window-focus-activation-guard))
	.channelItemVoice.channelItemHoverAffordancesActive:hover
	.voiceUserCount {
	display: flex;
}

:global(.theme-light) {
	.channelItemCategory {
		color: var(--text-primary);
	}

	.channelItemRegular {
		color: var(--text-tertiary);
	}

	.channelItemMuted {
		color: var(--text-tertiary-muted);
	}

	.channelItemHighlight {
		color: var(--text-primary);
	}

	.channelItemSelected,
	.channelItemSelectedWithUnread {
		color: var(--text-primary);
	}

	.channelItemIconUnselected {
		color: var(--text-tertiary);
	}

	.channelItemIconHighlight {
		color: var(--text-primary);
	}

	.categoryIcon {
		color: var(--text-primary);
	}

	.createChannelButton {
		color: var(--text-primary);
	}
}
